# Dados brutos (não versionar arquivos pesados)
cache/

# Python
__pycache__/
*.py[cod]
*.pyo
.env
.venv/
venv/
venv311/
env/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/secrets.toml